body {
  font-family: monospace;
}

#logo {
  width: 75px;
  margin-left: 20px;
}

#header {
  width: 100%;
}

#contact {
  text-align: right;
  margin-top: 20px;
}

.btn-unique {
  font-size: 75%;
  color: white;
  background-color: black;
}

#check-list {
  position:absolute;
  bottom:15px;
  right: 3%;
}

html {
  color: white;
  background-image: url('../img/background.jpg');
  background-size: 100%;
  background-position-x: center;
  background-position-y: center;
  background-size:cover;
  background-repeat: no-repeat;
  height: 100%;
}

.contact {
  color: white;
  background-image: url('../img/contactBackground.jpg');
  background-size: 100%;
  background-position-x: center;
  background-position-y: center;
  background-size:cover;
  background-repeat: no-repeat;
  height: 100%;
}

#banner{
  position:absolute;
  top: 50%;
  left: 25%;
  right: 25%;
}

.container{
  width: 100%
}

.go{
  position:absolute;
  top: 50%;
  left: 75%;
  right: 25%;
}

a {
  color: white;
}

a:hover {
  color: green;
}

.logo{
  color: black;
}

#contactForm{
  position:absolute;
  top: 40%;
  left: 30%;
  right: 30%;
}

.well{
  background: transparent;
  color: #5cb85c;
  font-size: 26px;
  font-variant: small-caps;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000
}
